body {
  min-width: 780px;
}
body > div {
  display: table;
  width: 100%;
  min-width: 775px;
  border-collapse: collapse;
}
body > div > div {
  display: table-row;
}
.header {
  height: 38px;
  background-color: #fbf7e4;
}
#page {
  border-top: 4px solid #ddd;
}
#content {
  margin: 20px 0;
  padding: 0px 16px 0px;
}
#sidebar {
  width: 30% !important;
  background-color: #f6f6f6;
}

.main, .right {
  display: table-cell;
  padding: 0 25px;
}
.main {
  width: auto;
}
.right {
  width: auto;
}
