body > div {
  display: table;
  width: 100%;
  min-width: 775px;
  border-collapse: collapse; 
}
body > div > div {
  display: table-row;
}

#header {
  height: 75px;
  background-color: #fbf7e4;
}
#header #actions {
  position: relative;
  margin-top: 15px;
  width: 100%;
}
#header #actions .menu {
  padding: 0;
}
#header #actions .main {
  width: 65%;
}
#header #actions .right {
  width: 35%;
  text-align: right;
  padding: 0;
}

.main, .right {
  display: table-cell;
  padding: 0 3%;
}
.right {
  width: 344px;
  min-width: 344px;
}

#page {
  border-top: 4px solid #ddd;
}
#content {
  margin: 20px 0;
  padding-bottom: 20px;
}
#sidebar {
  background-color: #f6f6f6;
  padding-bottom: 35px;
}