html, body {
  height: 100%;
}
body {
/*  background: #fff url(/images/adva-core/grid.png) 0 13px;*/
}
#page {
  min-height: 100%;
}
#header {
  border-top: 5px solid #c22222;
  height: 3em;
  padding: 2em 15% 0 15%;
}
#header h1 {
  float: left;
  color: #444;
}
#header h4 {
  float: left;
  padding-top: 0;
  font-size: 22pt;
  font-weight: normal;
  color: #aaa;
}
#header h4:before {
  content: "\00a0\00b7\00a0";
}
#main {
  overflow: auto;
  padding: 0 15% 72px 15%;
}

h1 {
  font-size: 22pt;
  font-weight: bold;
}
h2 {
  padding-top: 1em;
  font-size: 16pt;
  font-weight: bold;
}
h3 {
  padding-top: 1em;
  font-size: 13pt;
}
h4 {
  padding-top: 1em;
  font-weight: bold;
}
p {
  padding-top: 1em;
}
a {
  color: #b44444;
}
ul, ol {
  padding-top: 1em;
  margin-left: 22px;
}

/* MENU */

#menu {
  padding-top: 5px;
  float: right;
  font-size: 0.9em;
  list-style-type: none;
}
#menu li {
  display: inline-block;
  padding: 0 1em;
}
#menu li a {
  color: #666;
}

/* FOOTER */

#footer {
  position: relative;
	margin-top: -40px;
	height: 32px;
	clear: both;
  padding: 8px 15% 0 15%;
  font-size: 10pt;
  color: #999;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.10);
}
#footer ul {
  list-style-type: none;
}
#footer li {
  display: inline-block;
}
#footer .left {
  float: left;
}
#footer .left li,
#footer .left a {
  font-size: 8pt;
}
#footer .right {
  float: right;
}
#footer a {
  font-size: 10pt;
  color: #999;
}
#footer .feed {
  background: transparent url(/images/adva-core/feed.mini.png) no-repeat scroll right 0;
  padding-right: 20px;
}
body:before { /* opera sticky footer clearing */
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}


/* BLOG */

.posts {
  margin-left: 0;
  list-style-type: none;
}
.post {
  padding-bottom: 1em;
}
.meta {
  font-size: 10pt;
  color: #999;
}
.continue {
  font-size: 10pt;
}
.continue:after {
  content: " \2192";
}
