<%= link_to "Settings", resources.unshift(:edit) %>
<%= link_to "New", resources.unshift(:new).push(:post) %>  <!-- TODO => menu -->

<h2><%= resource.title %></h2>

<% unless resource.posts.empty? %>
  <ul class="posts">
    <% resource.posts.each do |post| %>
      <li><%= link_to post.title, resources.unshift(:edit).push(post) %></li>
    <% end %>
  </ul>
<% end %>