<%#= link_to "New", new_admin_site_section_article_path(*resources - [:admin]) %>
<%= link_to "New", resources.unshift(:new).push(:article) %>

<h2><%= t(:'.title') %></h2>

<%= render :partial => "admin/blogs/form" %>

<p><%= button_to("Delete", resources, :method => :delete) %></p>