<%= render :partial => 'form', :locals => { :url => admin_site_section_path(site, section) } %>

<%#= link_to "Delete", admin_site_section_path(site, section), :method => :delete %>

<form action="<%= admin_site_section_path(site, section) %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button type="submit">Delete</button>
</form>