<div class="meta">
  posted
  <!-- by [author] -->
  on <abbr title="<%= post.created_at %>" class="updated"><%= post.created_at.day %>. <%= Date::MONTHNAMES[post.created_at.month.to_i] %> <%= post.created_at.year %></abbr>
</div>
