<!-- TODO remove named_route helpers and use url_for -->

<ul>
  <li><%= link_to(t(:'.section.new'), new_admin_site_section_path(resource)) %></li>
  <li><%= link_to(t(:'.site.new'), new_admin_site_path) %></li>
</ul>
