<h2><%= t('.title') %></h2>

<%= simple_form_for(current_cart, :url => url_for([:cart, :payment_method])) do |form| %>
  <%= render :partial => 'fields', :locals => { :form => form } %>
  <%= form.button :submit, t('.submit') %>
<% end %>