<%= link_to "Settings", resources.unshift(:edit) %>
<%= link_to "New", resources.unshift(:new).push(:product) %>  <!-- TODO => menu -->

<h2><%= resource.title %></h2>

<% unless resource.products.empty? %>
  <ul class="products">
    <% resource.products.each do |product| %>
      <li><%= link_to product.name, resources.unshift(:edit).push(product) %></li>
    <% end %>
  </ul>
<% end %>
