<%= link_to "Settings", resources.unshift(:edit) %>
<%= link_to "New Product", resources.unshift(:new).push(:product) %>  <!-- TODO => menu -->

<h2><%= resource.title %></h2>

<%=
  table_for(resource.products) do |table|
      table.column 'Name', 'Number', 'Price'
      table.row do |row, product|
        row.cell link_to(product.name, url_for(resources.unshift(:edit).push(product)))
        row.cell product.number
        row.cell number_to_currency(product.price, :format => '%n %u', :unit => 'EUR')
      end
    end unless resource.products.empty?
%>