<h2><%= t('.title') %></h2>

<%= render :partial => 'cart/cart', :locals => { :cart => resource, :updatable => false } %>

<%= form_for(current_cart, :url => url_for([:cart, :confirmation]), :html => { :method => :post }) do |f| %>
  <%= f.submit t('.submit') %>
<% end %>