body {
  font-size: 10pt;
}
h2 {
  margin-top: 1.2em;
  font-size: 16pt;
}
h3 {
  margin-top: 1.2em;
  font-size: 13pt;
}
h4 {
  margin-top: 1.2em;
  font-weight: bold;
}
p {
  margin-top: 1.2em;
}

/* COMMON CLASSES */

.hidden {
  display:none;
}

ul.links {
  display: inline;
  list-style-type: none;
}
ul.links li {
  display: inline;
}
ul.links li:before {
  content: "· ";
}

/* FLASH */

.flash {
  padding: 0.75em 0;
  margin: 0 -10% 0 -10%;
  text-align: center;
}
.flash.notice {
  background: #cfc;
  color: #051;
}
.flash.error {
  background: #e6acb6;
  color: #510;
}

/* ACTIONS */

.actions a {
  display: inline-block;
  width: 16px;
  height: 16px; 
  margin-left: 4px;
  text-indent: 16px;
  overflow: hidden;
  vertical-align: middle;
}

.actions a.text {
  display: inline;
  text-indent: 0;
  height: auto;
  width: auto;
  overflow: none;
  font-size: 12px;
}
.actions a:first-child {
  margin-left: 0;
}
.actions a.show,
.actions a.view {
  background: url(/images/adva-core/icons/page_white_magnify.png) no-repeat;
}
.actions a.edit {
  background: url(/images/adva-core/icons/pencil.png) no-repeat;
}
.actions a.delete {
  background: url(/images/adva-core/icons/bin_closed.png) no-repeat -5px top;
}

/* PAGINATION, taken from WillPaginate, slightly modified */

div.pagination {
  margin-top: 1em;
  background: #f6f6f6;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1em;
}
div.pagination a, div.pagination span {
  padding: .2em .3em;
}
div.pagination span.disabled {
  color: #AAA;
}
div.pagination span.current {
  font-weight: bold;
  background-color: #dddddd;
}
div.pagination a {
  text-decoration: none;
  color: black;
}
div.pagination a:hover, div.pagination a:focus {
  text-decoration: underline;
}
