#content fieldset {
  display: table;
  margin: 0 9px 0px 0px;
  width: 100%;
}
form .column {
  display: table-cell;
  padding: 0 20px;
}
form .column:first-child {
  padding-left: 0;
}
form .column:last-child {
  padding-right: 0;
}
form .column:only-child {
  display: block;
}
form .column > .inline {
  margin-left: 0;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  padding: 5px 8px;
  font-size: 14px;
  border: 1px solid #999;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Verdana;
  width: 98%;
}
input[disabled] {
  background: #DDD;
}
textarea {
  height: 100px;
}
textarea.big {
  height: 400px;
}
select {
  margin: 3px 0;
}
input.big[type=text],
input.big[type=password] {
  font-size: 20px;
}
textarea.small {
  height: 79px;
}
label {
  display: block;
  clear: both;
  color: #666;
  text-shadow: #fff 1px 1px;
  line-height: 1.2em;
  margin-top: 15px;
  margin-bottom: 6px;
}
label.inline {
  position: relative;
  display: inline;
  margin-right: 15px;
  top: -2px;
  vertical-align: baseline;
}
label.light {
  font-weight: normal;
}
.checkbox_group, .radio_group {
  margin-top: 15px;
  margin-bottom: 6px;
}
.buttons {
  margin-top: 15px;
  margin-bottom: 6px;
  /* border-top: 4px solid #ddd;*/
  /* background-color: #E3FFE3;*/
}


#content form h2 {
  font-size: 12pt;
}
#content form p {
  margin-top: 0.5em;
}
#content form p.buttons {
  margin-top: 1.2em;
}

.error_message {
  float: right;
  margin-top: -25px;
  margin-right: -9px;
  color: #c00000;
  font-style: italic;
  font-size: .9em;
}
.wide_button {
  display: block;
  color: #555;
  background: #f6f6f6;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  outline: none;
}
.wide_button:hover {
  background-color: #ddd;
  text-decoration: none;
}
input[type=submit].delete {
  padding: 0;
  margin: 0;
  border: 0px;
  background: url(/images/icons/delete.png);
  background-repeat:no-repeat;
  background-position: 0px 0px;
  width: 20px;
  heigth: 20px;
}
.left-floating-field {
  float:left;
  margin-right: 7px;
}


/*button {
   border: 1px solid #8ec1da;
   background-color: #ddeef6;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
   color: #3985a8;
   text-shadow: 0 1px #fff;
   padding: 5px 30px;
}*/


