table.list {
  width: 100%;
  border-collapse: collapse;
}
table.list th {
  padding: 8px 10px;
  text-align: left;
  font-weight: bold;
}
table.list thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}
table.list tbody tr {
  border-bottom: 1px solid #ddd;
}
table.list tbody td {
  position: relative;
  padding: 8px 10px;
  vertical-align: top;
}
table.list tbody td.actions {
  width: 63px;
  white-space: nowrap;
}

table.list tr.level_1 td:first-child { padding-left: 35px; }
table.list tr.level_2 td:first-child { padding-left: 60px; }
table.list tr.level_3 td:first-child { padding-left: 85px; }
table.list tr.level_4 td:first-child { padding-left: 110px; }
table.list tr.level_5 td:first-child { padding-left: 135px; }
table.list tr.level_6 td:first-child { padding-left: 160px; }
table.list tr.level_7 td:first-child { padding-left: 185px; }
table.list tr.level_8 td:first-child { padding-left: 210px; }

table.list span.status {
  padding-left: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  text-indent: 16px;
  overflow: hidden;
  vertical-align: middle;
  background-repeat: no-repeat;
}
table.list td.status {
  width: 24px;
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

table.list tr.published td.status,
table.list span.published {
  background-image: url(/images/adva-core/icons/tick.png);
}
table.list span.draft,
table.list span.hold,
table.list span.queued,
table.list span.pending,
table.list span.unpublished,
table.list tr.unpublished td.status {
  background-image: url(/images/adva-core/icons/hourglass.png);
}

table.list .toggle {
  padding-left: 18px;
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-image: url(/images/adva-core/admin/closed.png);
}
table.list .toggle.open {
  background-image: url(/images/adva-core/admin/open.png);
}
table.list tr.details {
  display: none;
}
