table.list {
  width: 100%;
  border-collapse: collapse;
}
table.list th {
  padding: 8px 10px;
  text-align: left;
  font-weight: bold;
}
table.list thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}
table.list tbody tr {
  border-bottom: 1px solid #ddd;  
}
table.list tbody td {
  position: relative;
  padding: 8px 10px;
  vertical-align: top;
}
table.list tbody td.actions {
  width: 63px;
  white-space: nowrap;
}

table.list tr.level_1 td:first-child { padding-left: 35px; }
table.list tr.level_2 td:first-child { padding-left: 60px; }
table.list tr.level_3 td:first-child { padding-left: 85px; }
table.list tr.level_4 td:first-child { padding-left: 110px; }
table.list tr.level_5 td:first-child { padding-left: 135px; }
table.list tr.level_6 td:first-child { padding-left: 160px; }
table.list tr.level_7 td:first-child { padding-left: 185px; }
table.list tr.level_8 td:first-child { padding-left: 210px; }

table.list span.status {
  padding-left: 10px;
  display: inline-block;
  width: 16px;
  height: 16px; 
  margin-left: 4px;
  text-indent: 16px;
  overflow: hidden;
  vertical-align: middle;
}

table.list span.published {
  background: url(/images/adva-core/icons/tick.png) no-repeat;
}
table.list span.draft,
table.list span.hold,
table.list span.queued,
table.list span.pending {
  background: url(/images/adva-core/icons/hourglass.png) no-repeat;
}
