/* COMMON MENU */

.menu {
  list-style-type: none;
  white-space: nowrap;
}
.menu li {
  font-size: 10pt;
  position: relative;
  display: inline-block;
}
.menu li h4,
.menu li a {
  display: block;
  padding: 4px 16px;
  outline: none;
  text-decoration: none;
}

/* TOP MENU */

#top {
  background-color: black;
  border-bottom: 5px solid #c22222;
}
#top .menu {
  padding-top: 5px;
}
#top .right {
  padding-right: 3%;
  text-align: right;
}
#top .main > li:first-child {
  margin-left: -16px;
}
#top .right > li:last-child {
  margin-right: -16px;
}
#top a {
  color: #fff;
}
#top h4 {
  font-weight: normal;
  color: #fff;
  margin: 0;
  cursor: default;
}
#top > .menu > li > h4,
#top > .menu > li > a {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
#top .menu > .active > h4,
#top .menu > .active > a {
  color: #fff;
  background: #c22222 url(/images/adva-core/admin/tab_top_active.png) repeat-x;
}
#top .menu > li:hover > h4,
#top .menu > li:hover > a {
  color: #222;
  background-color: #fff;
}
#top .menu > li.active:hover > h4,
#top .menu > li.active:hover > a {
  color: #fff;
}

/* TOP DROP DOWN MENUS */

#top .menu li > ul {
  display: none;
  position: absolute;
  z-index: 99;
  top: 27px;
  min-width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fff !important;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  -moz-box-shadow: 5px 5px 5px #aaa;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
}
#top .menu li:hover > ul {
  display: block;
}
#top .menu li > ul li {
  display: block;
  background-color: #fff;
}
#top .menu li > ul li h4 {
  font-weight: normal;
  color: #000;
  padding: 4px 16px;
  margin: 0;
}
#top .menu li > ul li a {
  color: #000;
  padding: 4px 32px;
}
#top .menu li > ul li:last-child {
  border-top: 1px dotted #ddd;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}
#top .menu li > ul li:last-child a {
  padding: 4px 16px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}
#top .menu li > ul li:hover {
   background-color: #f9f9f9 !important;
}
#top .menu li > ul li.active a:before {
  content: "â—\2003\2003"; /* ugh */
  margin-left: -16px;
}
#top .menu li > ul li:last-child.active a:before {
  content: "";
  margin-left: 0;
}

#top .menu li > ul .level_0 { padding-left: 16px; }
#top .menu li > ul .level_1 { padding-left: 32px; }
#top .menu li > ul .level_2 { padding-left: 48px; }
#top .menu li > ul .level_3 { padding-left: 64px; }
#top .menu li > ul .level_4 { padding-left: 80px; }
#top .menu li > ul .level_5 { padding-left: 96px; }
#top .menu li > ul .level_6 { padding-left: 112px; }

/* BREADCRUMBS */

#breadcrumbs li {
  display: inline-block;
  padding: 0 0 0 4px;
  vertical-align: top;
}
#breadcrumbs li:first-child {
  float: left;
  padding: 0 0 0 0px;
}
#breadcrumbs li:after {
  content: "\0020 \0020 \0020 \00BB \0020";
}
#breadcrumbs li.last:after {
  content: " ";
}
#breadcrumbs li,
#breadcrumbs li a {
  color: #999;
  font-size: 10pt;
}

/* ACTION MENU */

#actions .menu {
  padding: 0;
  margin-top: 15px;
}
#actions .main {
  display: block;
  float: left;
}
#actions .right {
  display: block;
  float: right;
  width: auto;
  padding-top: 4px;
  text-align: right;
}
#actions .main li:first-child {
  /* margin-left: -16px;*/
}
#actions .right li:last-child {
  margin-right: -12px;
}
#actions h4 {
  display: inline;
  margin-top: 0;
  padding: 6px 16px 0 16px;
  font-weight: normal;
}
#actions .main li a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
}
#actions .main li a:hover {
  background-color: #fff;
}
#actions .main li.active > a {
  background: #ddd url(/images/adva-core/admin/tab_main_active.png) repeat-x;
}
#actions ul.right li a {
  display: block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  font-size: 9pt;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#actions ul.right li a:hover {
  background: #fff;
}
#actions ul.right li.active a {
  background: #ddd;
}

/* HEADER RIGHT */

.header .right {
  padding: 15px 3% 0 0;
  text-align: right;
}
.header .right,
.header .right a {
  color: #999;
  font-size: 9pt;
}
