.tabs {
  position: absolute;
  top: 136px;
  right: 0;
  width: 20%;
}

.tabs > ul {
  position: relative;
  overflow: auto;
  background-color: #ddd;
  list-style-type: none;
}
.tabs > ul li {
  display: inline-block;
}
.tabs > ul li:first-child {
  margin-left: 10px;
}
.tabs > ul li a {
  display: block;
  font-size: 12px;
  padding: 3px 15px 0 15px;
  outline: none;
  text-shadow: #fff 1px 1px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
.tabs > ul li.active a {
  background: #f6f6f6 url(/images/adva-core/admin/tab_sidebar_active.png) repeat-x;
}
.tabs > ul li a:hover {
  background-color: #fff;
  text-decoration: none;
}
.tabs > ul li.active a:hover {
  cursor: default;
}


.tabs .tab {
  display: none;
  margin-left: 20px;
}
.tabs .tab.active {
  display: block;
}
.tabs input[type=text],
.tabs textarea {
  padding: 4px 8px !important;
  font-size: 12px;
  width: 89%;
}
.tabs input[type=checkbox] {
  clear: left;
}

.tabs fieldset {
  margin-top: 25px;
}



/*.tabs h4 {
  clear: both;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: bold;
}
.tabs h4 a {
  font-weight: normal;
  font-size: 11px;
}
.tabs #filters .set > select:first-child {
  margin-left: 8px;
}
.tabs label {
  font-size: 12px;
}
.filters .submit {
  float: right;
  margin-top: 4px;
  margin-bottom: 15px;
}*/

