#sidebar h4 {
  clear: both;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: bold;
}
#sidebar h4 a {
  font-weight: normal;
  font-size: 11px;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar #filters .set > select:first-child {
  margin-left: 8px;
}
#sidebar input[type=text],
#sidebar textarea {
  padding: 3px 6px !important;
  font-size: 12px;
  width: 270px;
}

#sidebar .tabs {
  position: relative;
  top: -26px;
}
#sidebar .tabs > ul {
  position: relative;
  margin: 0 -25px;
  padding: 0 12px;
  overflow: auto;
  background-color: #ddd;
}
#sidebar .tabs > ul li {
  display: inline-block;
}
#sidebar .tabs > ul li a {
  display: block;
  font-size: 12px;
  padding: 3px 15px 0 15px;
  outline: none;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;*/
}
#sidebar .tabs > ul li.active a {
  background: #f6f6f6 url(/images/adva-core/admin/tab_sidebar_active.png) repeat-x;
}
#sidebar .tabs > ul li a:hover {
  background-color: #fff;
  text-decoration: none;
}
#sidebar .tabs > ul li.active a:hover {
  cursor: default;
}

form .tabs .tab {
  display: none;
}
form .tabs .tab.active {
  display: block;
}

form .tabs {
  position: absolute;
  top: 160px;
  right: 40px;
  width: 270px;
}

/*.filters .submit {
  float: right;
  margin-top: 4px;
  margin-bottom: 15px;
}*/

