p.total {
  background-color: #eee;
  text-align: center;	
  padding: 3px 3px;
  margin-top: 10px;
}



table.list .drag {
  background-color: #f6f6f6;
}
table.list img.spinner {
  margin-top: 2px;
  margin-left: 6px;
  vertical-align: top;
}