.menu {
  list-style-type: none;
  white-space: nowrap;
}
.menu li {
  list-style-type: none;
  position: relative;
  display: inline-block;
}
.menu li a {
  display: block;
  padding: 4px 16px 4px 16px;
  outline: none;
  text-decoration: none;
}


#top {
  background-color: black;
  border-bottom: 5px solid #c22222;
}
#top .menu {
  padding-top: 5px;
}
#top .right {
  padding-right: 3%;
  text-align: right;
}
#top .main > li:first-child {
  margin-left: -16px;
}
#top .right > li:last-child {
  margin-right: -16px;
}
#top a {
  color: #fff;
}
#top > .menu > li > a {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
#top .menu > .active > a {
  color: #fff;
  background: #c22222 url(/images/adva_core/admin/tab_top_active.png) repeat-x;
}
#top .menu > li:hover a {
  color: #222;
  background-color: #fff;
}
#top .menu > li.active:hover > a {
  color: #fff;
}
#top li > .sections {
  display: none;
  position: absolute;
  z-index: 99;
  top: 27px;
  min-width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #fff !important;
  -webkit-box-shadow: 3px 3px 6px #aaa;
  -moz-box-shadow: 3px 3px 6px #aaa;
}
#top li:hover .sections {
  display: block;
}
#top .sections li {
  float: none;
  display: block;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#top .sections li a {
  color: #000;
}
#top .sections li a {
  background-color: #fff;
}
#top .sections li a:hover {
  background-color: #eee;
}
#top .sections li.active a {
  background-color: #fbf7e4;
}
#top .sections .level_0 { padding-left: 16px; }
#top .sections .level_1 { padding-left: 32px; }
#top .sections .level_2 { padding-left: 48px; }
#top .sections .level_3 { padding-left: 64px; }
#top .sections .level_4 { padding-left: 80px; }
#top .sections .level_5 { padding-left: 96px; }
#top .sections .level_6 { padding-left: 112px; }

#breadcrumbs {
  height: 18px;
  margin-top: 15px;
}
#breadcrumbs li {
  display: inline-block;
  padding: 0 0 0 4px;
  vertical-align: top;
}
#breadcrumbs li:first-child {
  float: left;
  padding: 0 0 0 0px;
}
#breadcrumbs li:after {
  content: "\0020 \0020 \0020 \00BB \0020";
}
#breadcrumbs li.last:after {
  content: " ";
}
#breadcrumbs li,
#breadcrumbs li a {
  color: #999;
  font-size: 9pt;
}

#actions .main li:first-child {
  margin-left: -16px;
}
#actions .right li:last-child {
  margin-right: -12px;
}
#actions h4 {
  display: inline;
  margin-top: 0;
  padding: 6px 16px 0 16px;
  font-weight: normal;
}
#actions .main li a {
  padding: 6px 16px 6px 16px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
#actions .main li a:hover {
  background-color: #fff;
}
#actions .main li.active > a {
  background: #ddd url(/images/adva_cms/admin/tab_main_active.png) repeat-x;
}
#actions ul.right li a {
  display: block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#actions ul.right li a:hover {
  background: #fff;
}
#actions ul.right li.active a {
  background: #ddd;
}

#header .right {
  padding: 15px 3% 0 0;
  text-align: right;
}
#header .right,
#header .right a {
  color: #999;
  font-size: 9pt;
}