<h2><%= t '.title' %></h2>

<%= link_to(t('.new'), new_admin_site_asset_path(site)) %>

<%= table_for collection do |table|
  table.column :title, :id => :title_header
  table.column :description, :id => :description_header
  table.column :path, :id => :path_header
  table.column t('action'), :class => 'action'

  table.row do |row, asset|
    row.cell asset.title, :headers => :title_header
    row.cell asset.description, :headers => :description_header
    row.cell asset.path, :headers => :path_header
    action_html = "<div>" + link_to(image_tag('icons/page_edit.png'), edit_admin_site_asset_path(site, asset), :id => "edit_asset_#{asset.id}", :class => 'left-floating-field') +
             button_to("", admin_site_asset_path(site, asset), :method => :delete, :class => 'delete', :id => 'delete') + "</div>"
    row.cell action_html.html_safe
  end

  table.empty :p, t('.no_assets'), :class => 'empty'
end %>