body {
  font-size: 11pt;
}
#page {
  border-top: 5px solid #c22222;
}
.main {
  width: 400px;
	margin: 0 auto;
	padding-top: 0px;
}
#content {
	padding: 20px 30px 30px 30px;
}

.links {
  display: block !important;
  margin-top: 30px;
}
.links li:first-child:before {
  content: '';
}
.links .sign_in,
.links .sign_up,
.links .forgot_password,
.links .resend_confirmation,
.links .resend_unlock {
  font-size: 9pt;
  color: #999;
}