body {
  font-size: 11pt;
}
#page {
  border-top: 5px solid #c22222;
}
.main {
  width: 30%;
	margin-left: 35%;
	padding-top: 0px;
}
#content {
	padding: 20px 30px 30px 30px;
}

.links,
.links .sign_in,
.links .sign_up,
.links .forgot_password,
.links .resend_confirmation,
.links .resend_unlock {
  font-size: 9pt;
  color: #999;
}